{% extends "base.html" %} 

{% block title %}Post{% endblock %}

{% block content %} 
<div class="container pt-3">
    <h1 class="main-title text-center mx-auto">Latest Posts</h1>
<section>
<div class="blog-posts-container">
    {% for post in posts %} 
    <div class="blog-post-card">
    <a href="{% url 'post_detail' post.id %}" class="img-container">
                <img src="{{ post.featured_image.url }}" alt="{{ post.image_alt }}" style="width: 100%">
                <div class="overlay">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.summary|truncatechars:20 }}</p>
                </div>
                </a>
                <div class="post-info">
                    <span class="category-badge">{{ post.get_category_display }}</span>
                    <span class="published-date">{{ post.published_date|date:"F j, Y" }}</span>
                </div>
            </div>
    {% empty %}
    <p>No blog posts available yet. Check back soon!</p>
    {% endfor %}
</section>
</div>
</div>
{% endblock %}