{% extends "account/base_entrance.html" %}
{% load account i18n crispy_forms_tags %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}  {# Renders the form with crispy-forms styling #}

        <button type="submit">{% trans "Sign Up" %}</button>
    </form>

    <p>
        {% blocktranslate %}Already have an account? Then please 
        <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
    </p>
{% endblock content %}
